@font-face {
    font-family: 'Mayday-SUIT';
    src: url('../../public/fonts/SUIT-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.support-policies {
  width: 90%;
  padding: 20px 20px;
  margin-left: 180px;
  margin-top:70px;
  overflow: auto;
}

.header-support-policies {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}


.text-image{
  width: 600px;
  height: auto;
}
.header-support-policies p {
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: normal; 
}

.subtext {
  font-size: 16px;
  color: #555;
  font-weight: normal;
  font-family: 'Mayday-SUIT',sans-serif;
}

.button-container {
  display: flexbox;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 30px 0;
}
.button-row{
  display: flex;
  gap:15px;
}

.category-button {
  margin-top:10px;
  background-color: white;
  /* border-color: rgb(187, 187, 187); */
  border-color: #00000055;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Mayday-SUIT',sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.category-button.selected {
  background-color: #007bff;
  color: white;
}
.category-button:hover {
  background-color: #3c9aff;
  color: white;
}
.card-image {
  position: relative;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
}

.card-container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
  height: 338px;
  width: 351px;
  transition: transform 0.2s;
}
.card-container:hover{
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.card-image img {
  position:   absolute;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}
.card-content {
  position:   absolute;
  /* padding: 16px; */
  height: 338px;
  width: 351px;
}
/* .support-badge {
  position:   absolute;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 12px;
  font-size: 12px;
  font-family: 'Mayday-SUIT',sans-serif;
  margin-bottom: 8px;
  position: absolute;
} */

.card-content h2 {
  position:   relative;
  /* margin: 8px 0; */
  margin-top: 10px;
    margin-left: 20px;
  font-size: 24px;
  font-family: 'Mayday-SUIT',sans-serif;
  font-weight: 700;
  display: block;
  vertical-align: middle;
  margin-bottom: 0;
}
.MaincardImg{
  width:100%;
  height: 220px;
}
.card-content p {
  position:   relative;
  color: #555;
  /* margin-top: 285px;
  margin-left: 280px; */
  margin-left:0;
  margin-top:0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-family: 'Mayday-SUIT',sans-serif;

}
.card-content h5 {
  /* position:   absolute; */
  position: relative;
  color: #000000;
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-family: 'Mayday-SUIT', sans-serif;
  font-weight: 200;
}
.card-content p:nth-of-type(2) {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 16px;
  font-family: 'Mayday-SUIT',sans-serif;
  color: #555;
}
