
.footer {
    width:auto;
    text-align: center;
    /* position: fixed; */
    margin-top: 235px;
    position: relative; 
    height: auto;
    transition: transform 0.5s ease;
}

.arrow{
  width: 40px;
  /* height: 10px; */
  z-index:2;
  transition: transform 0.7s ease  opacity 0.5s ;
  transform: scale(1,0.16); 
  position: relative;
  top:60px;
  left:384px;
}

.arrow:hover{
  cursor: pointer;
  transform: scale(1.2,0.192);
  opacity: 0.9;
}

.copyright {
    height: 2px;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
  }