
.support-policies {
  width: 80%;
  height: 200vh;
  padding: 40px 40px 250px 40px;
  margin-top: 22px;
  margin-bottom: 200px;

}

.header-support-policies {
  text-align: left;
  display: flex;
  flex-direction: column;
}


.text-image{
  width: 600px;
  height: auto;
}
.header-support-policies p {
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: normal; 
}

.subtext {
  font-size: 16px;
  color: #555;
  font-weight: normal; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.category-button {
  background-color: white;
  border-color: black;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.category-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}
.category-button:hover {
  background-color: #007aff;
  color: white;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 220px;
  height: 150px;
  background-color: #f8d7da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}  
